.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
blockquote {
  font-style: italic;
  color: #f89a03ff;
  font-size: 1.5em;
  margin-bottom: 10px;
  border-left: 4px solid #f89a03ff;
  padding-left: 15px;
}

footer {
  font-size: 0.8em;
  color: #434343ff;
  margin-top: 5px;
  display: block;
} */